
section {
    padding: 2em 0 0 0;
}

.forms {

    position: static;
    margin: 2em auto;
    width: 50px;
    /* Other styling */
    letter-spacing: 0.1em;
    border: 1px solid black;
    background-color: #eae8ea;
}

.forms .form-group label {
    margin: 0 0 .5em 0;
}


#signup-button a {
    color: white;
    text-decoration: none;
}
